.results {
    display: flex;
    flex-direction: column;
    display: flex;
}

.synonyms {
    display: flex;
    gap: 2.5rem;
    margin-bottom: 2rem;

    .purple-text {
        font-weight: 700;
    }

}

.results-body {
    margin-top: 2.625rem;
    display: flex;
    flex-direction: column;
    min-width: 100%;
    font-size: 1rem;

    &__meaning-header {
        overflow: hidden;
        min-width: 100%;
        margin-top: 2.625rem;

        font-weight: 700;
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        gap: 2rem;

        &__right {
            min-width: 100%;
        }
    }

    &__container {
        min-width: 100%;

        ul {
            margin-top: 2rem;
            list-style-type: none;
            list-style-position: outside;
            text-indent: -1em;
            padding-left: 1em;

            li::before {
                content: "•";
                color: #A445ED;
                margin-right: 0.8125rem;
            }

            li {
                margin-bottom: 1rem;
                line-height: 1.5rem;
            }
        }
    }
}

.results-header {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;

    &__right {
        display: flex;
        justify-content: center;
        align-items: center;

        button {
            display: flex;
            justify-content: center;
            background-color: #4e2170;
            align-items: center;
            outline: none;
            border: none;
            height: 3rem;
            width: 3rem;
            border-radius: 50%;
        }
    }

    &__left {
        display: flex;
        flex-direction: column;
        gap: .5rem;

        h1 {
            font-weight: 700;
            font-size: 2rem;
        }

        h2 {
            font-size: 1.25rem;
            color: #A445ED;
        }
    }
}

.error-page {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
    margin-top: 8rem;

    h1 {
        margin-bottom: 2rem;
        font-size: 4rem;
    }

    h2 {
        font-weight: 700;
    }
}

.source {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;

    a {
        display: flex;
        gap: 1rem;
        text-decoration: none;
    }
}